{% extends 'base.html' %}
{% block content %}
<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Update Assets</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li><a class="parent-item" href="">Update assets</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li class="active">Update Assets</li>
							</ol>
						</div>
					</div>
    
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box">
								<div class="card-head">
									<header>Update Assets</header>
								</div>
                <form action="{% url 'update_Asset' id=assets_edit.id %}" method="POST">
                  {% csrf_token %}
								<div class="card-body row">
                    <div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
  											<input class="mdl-textfield__input" value="{{assets_edit.asset_name}}" type="text" id="txtTitle" name="asset_name">
  											<label class="mdl-textfield__label">Asset Name</label>
  										</div>
  									</div>
                    <div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
  											<input class="mdl-textfield__input" value="{{assets_edit.asset_dep}}" name="asset_dep" type="text" id="list2" value="" readonly tabIndex="-1">
  											<label for="list2" class="pull-right margin-0">
  												<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
  											</label>
  											<label for="list2" class="mdl-textfield__label">Asset Department</label>
  											<ul data-mdl-for="list2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
  												<li class="mdl-menu__item" data-val="DE">Sports</li>
  												<li class="mdl-menu__item" data-val="BY">Library</li>
  												<li class="mdl-menu__item" data-val="BY">Uniforms</li>
  											</ul>
  										</div>
  									</div>
                    <div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
  											<input class="mdl-textfield__input"  value="{{assets_edit.vendor_name}}" name="vendor_name" type="text" id="txtAuther">
  											<label class="mdl-textfield__label">Vendor Name</label>
  										</div>
  									</div>
  									<div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
  											<input class="mdl-textfield__input" value="{{assets_edit.receiver_name}}" name="receiver_name" type="text" id="txtPublisher">
  											<label class="mdl-textfield__label">Receiver Name</label>
  										</div>
  									</div>
                    <div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
  											<input class="mdl-textfield__input" value="{{assets_edit.class_name}}" name="class_name" type="text" id="list5" value="" readonly tabIndex="-1">
  											<label for="list5" class="pull-right margin-0">
  												<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
  											</label>
  											<label for="list2" class="mdl-textfield__label">Class name</label>
  											<ul data-mdl-for="list5" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                          <li class="mdl-menu__item" data-val="OT">lkg</li>
                          <li class="mdl-menu__item" data-val="OT">ukg</li>
  												<li class="mdl-menu__item" data-val="DE">I Standard</li>
                          <li class="mdl-menu__item" data-val="DE">II Standard</li>
                          <li class="mdl-menu__item" data-val="DE">III Standard</li>
  												<li class="mdl-menu__item" data-val="BY">IV Standard</li>
  												<li class="mdl-menu__item" data-val="BY">V Standard</li>
  												<li class="mdl-menu__item" data-val="BY">VI Standard</li>
  												<li class="mdl-menu__item" data-val="OT">VII Standard</li>
                          <li class="mdl-menu__item" data-val="OT">VIII Standard</li>
                          <li class="mdl-menu__item" data-val="OT">IX Standard</li>
                          <li class="mdl-menu__item" data-val="OT">X Standard</li>
  											</ul>
  										</div>
  									</div>
                    <div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
  											<input class="mdl-textfield__input" value="{{assets_edit.asset_type}}" name="asset_type" type="text" id="list3" value="" readonly tabIndex="-1">
  											<label for="list3" class="pull-right margin-0">
  												<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
  											</label>
  											<label for="list2" class="mdl-textfield__label">Asset Type</label>
  											<ul data-mdl-for="list3" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
  												<li class="mdl-menu__item" data-val="DE">Regular Uniforms</li>
  												<li class="mdl-menu__item" data-val="BY">Sports Uniforms</li>
  												<li class="mdl-menu__item" data-val="BY">Shoes</li>
  												<li class="mdl-menu__item" data-val="BY">Books</li>
  											</ul>
  										</div>
  									</div>
                    <div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
  											<input class="mdl-textfield__input" value="{{assets_edit.purchase_date|date:'Y-m-d'}}" name="purchase_date" type="text" id="date">
  											<label class="mdl-textfield__label">Purchase Date</label>
  										</div>
  									</div>
  									<div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
  											<input class="mdl-textfield__input" value="{{assets_edit.amount}}" name="amount" type="text" id="txtPrice">
  											<label class="mdl-textfield__label">Amount</label>
  										</div>
  									</div>
                    <div class="col-lg-6 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height txt-full-width">
  											<input class="mdl-textfield__input" value="{{assets_edit.pay_status}}"  name="pay_status" type="text" id="list8" value="" readonly tabIndex="-1">
  											<label for="list8" class="pull-right margin-0">
  												<i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
  											</label>
  											<label for="list2" class="mdl-textfield__label">Status</label>
  											<ul data-mdl-for="list8" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
  												<li class="mdl-menu__item" data-val="DE">In Stock</li>
  												<li class="mdl-menu__item" data-val="BY">Out Of Stock</li>
  												<li class="mdl-menu__item" data-val="BY">Issue</li>
  											</ul>
  										</div>
  									</div>
                    <div class="col-lg-12 p-t-20">
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                        <input class="mdl-textfield__input" value="{{assets_edit.ref_number}}" name="ref_number" value="{{ref_number|upper}}" type="text" id="txtPrice" readonly>
                        <label class="mdl-textfield__label">Refference Number</label>
                      </div>
  									</div>

  									<div class="col-lg-12 p-t-20">
  										<div class="mdl-textfield mdl-js-textfield txt-full-width">
  											<textarea class="mdl-textfield__input" value="{{assets_edit.asset_details}}" name="asset_details" rows="4" id="text7"></textarea>
  											<label class="mdl-textfield__label" for="text7">Assets Details</label>
  										</div>
  									</div>
                    <div class="col-lg-12 p-t-20 text-center">
                      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Update</button>
                      <a href="{% url 'all_asset' %}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect m-b-10 m-r-20 btn-pink">Cancel</a>
                    </div>
                  </div>
                  </form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- end page content -->
      {% endblock %}
